<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa kirjaa</h1>
	<div>
		<form th:object="${book}" th:action="@{/edit}" action="#" method="post">
		
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<input type="text" th:field="*{title}" />
			<input type="text" th:field="*{author}" />
			<input type="text" th:field="*{year}" />
			<input type="text" th:field="*{isbn}" />
			
		</form>
		<a class="btn btn-success" href="/add">Edit Book</a> 
	
  			
	</div>   	
</body>
</html>